@import '../../App.css';

.navbar{
    height: 100px;  
    .wrapper{
        max-width:900px;
        margin:auto;
        /* margin-left: 190px; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: purple; */
        height: 100%;
        @media (max-width: 738px){
            justify-content:flex-end;
            padding: 20px;
        }

        span{
            font-weight: bold;
            @media (max-width: 738px) {
       display: none;
            }
        }

        .social{
            display: flex;
            gap: 20px;
        }

        img{
            width: 18px;
        }
    } 
}
