@import '../../App.css';

.contact {
  height: 100vh;
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @media (max-width: 738px) {
    width: 100%;
    flex-direction: column;
    padding: 1px;
    
     }

  .textcontainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: left;
    align-items: center;
    margin-bottom: 140px;

    @media (max-width: 738px) {
     gap: 20px;
     text-align: center;
     align-items: center;
     justify-content: center;
     margin: 70px;
     margin-bottom: -70px;
       }
    .item {
      margin-right: 240px;

      @media (max-width: 738px) {
        margin-right: 0;
        
         }
    }

    h1 {
      font-size: 50px;
      line-height: 48px;
      @media (max-width: 738px) {
        padding-top: 3px;
         }
      
    }
    h2 {
      font-size: 20px;
      @media (max-width: 738px) {
        gap: 10px;
        text-align: center;
        align-items: center;
        
         }
    }
    span {
      font-weight: 300px;
      gap: 10px;
      text-align: center;
      align-items: center;
      
    }
  }
  .formcontainer {
    flex: 1;
    position: relative;

    @media (max-width: 738px) {
      padding: 50px;
      width: 100%;
      
      
       }

    .contactsvg {
      stroke: orange;
      color: orange;
      position: absolute;
      justify-content: left;
      align-items: center;
      z-index: -1;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 14px;

      @media (max-width: 738px) {
       
         }

      input,
      textarea {
        padding: 16px;
        border: 1px solid white;
        border-radius: 5px;
        background-color: transparent;
        color: white;
        @media (max-width: 738px) {
          padding: 10px;
          
           }

        
      }
      button {
        padding: 20px;
        border: none;
        background-color: orange;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 500;

        @media (max-width: 738px) {
          padding: 10px;
          
           }
      }
    }
  }
}
